
body{
    background-color:  #F0D7CE;
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color:  #F0D7CE;
    height: 90px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display:flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    justify-content: center;
    
}

.logo{
    
    height: 110px;  

}

#menu-toggle{
    display: none;
}

a{
    text-decoration: none;
    color: #4A3B36;
    transition: 0.3s;

}

a:hover{
    color: #C8A27A;

}
nav ul{
    margin: 0;
    
}
nav a{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;

}

.hero{
    height: 600px;
    background-image: url("../imagens/banner.jpeg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-content{
    margin-top: 60px;
}

.hero-content h1{
    font-size: 52px;
    color: #4A3B36;
    margin-bottom: 20px;
}

.botao{
    background-color: #c9a075;
    color: white;
    padding: 15px 30px;
    border-radius: 8px; 
    display: inline-block;
    width: fit-content;
    transition:transform .3s, box-shadow .3s;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.botao:hover{
    background-color: #b98956;
    transform: scale(1.05) translateY(-15px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.titulo-seo{
    display: none;
}

.equipe{
    padding: 70px 40px;
    text-align:center;
    background-color:   #F0D7CE;
    
}

.equipe h2{
    text-align: center;
    font-family: Playfair Display, serif;
    font-size: 36px;
    color: #050404;
    
}
.equipe h3{
    text-align: center;
    font-family: lato, sans-serif;
    font-size:25px;
    color: #030303;
    

}

.equipe-container{
    display:flex;
    justify-content: space-evenly;
    gap:50px;
    flex-wrap:wrap;
}

.card-equipe{
    width: 300px;
    background: #c07e83;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform .3s, box-shadow .3s ;

  
}
.card-equipe:hover{
    transform: scale(1.05) translateY(-15px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
   
}

.card-equipe img{
    width: 300px;
    height:300px;
    border-radius:50%;
    object-fit:cover;
    object-position: 60% 30%;
   
}

.card-equipe h4{
    color: #0c0a09;
    font-size:25px;    
}
.card-equipe p{
    color:#0d0c0b;
    line-height:1.6;
}

.servicos{
    padding: 70px 40px;
    text-align:center;
    background:  #F0D7CE;
}

.servicos h2{
    text-align: center;
    font-family: lato, sans-serif;   
    font-size: 30px;
    color: #050404;
}


.servicos h3{
    text-align: center;
    font-family: Playfair Display, serif;
    font-size: 25px;
    color: #050404;
    
}
.servicos-container{
    display:flex;
    justify-content: space-evenly;
    gap:50px;
    flex-wrap:wrap;
}

.card-servico{
    width: 250px;
    background: #c07e83;
    padding: 70px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow .3s; ;
}
.card-servico:hover{
    transform: scale(1.05) translateY(-15px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
   
}

.card-servico img{
    width: 250px;
    height:250px;
    border-radius:50%;
    object-fit: cover;
    object-position: center;
} 

.card-servico p{
    color:#0d0c0b;
    line-height:1.6;
}

.galeria{
    padding: 70px 40px;
    background-color: #f8ede2;    
}

.galeria h2{
    text-align: center;
    font-family:"Playfair Display", serif;
    font-size: 36px;
    color: #050404;
    margin-bottom: 60px;
}

.galeria-container{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.galeria-madu h3,
.galeria-camili h3{
    text-align: center;
    font-size: 25px;
    color: #4A3B36;
    margin-bottom: 30px;
    font-style:inherit;
}

.fotos-camili{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.fotos-camili img{
    width: 100%;
    height: 270px;

    object-fit: cover;
    border-radius: 15px;
    transition: 0.4s;

    cursor: pointer;
}

.fotos-camili img:hover{

    transform: scale(1.05);
}

.galeria-madu{
    text-align: center;
    font-style:inherit;
}

.fotos-madu{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.fotos-madu img{
    width: 450px;
    height: 650px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
    transition: .4s;
    cursor: pointer;
}

.fotos-madu img:hover{
    transform: scale(1.03);
}

.galeria-madu p{
    font-size: 20px;
    color: #7D6B63; 
    font-style: italic;
}

.contato{
    padding: 70px 40px;
    background-color: #c07e83;
    text-align: center;
}

.contato h2{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: rgb(8, 8, 8);
    margin-bottom: 20px;

}

.contato p{
    font-size: 18px;
    color: rgb(10, 9, 9);
    max-width: 650px;
    margin: 0 auto 40px;
    line-height: 1.7;
}

.contato-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
} 


.botao-contato{
    display: inline-block;
    background:#f8ede2 ;
    color: #4A3B36;
    padding: 15px 35px;
    border-radius: 10px;
    font-weight: bold;
    transition: .3s;
    transition: transform .3s, box-shadow .3s;
    

}

.botao-contato:hover{

    background: #c9a075;
    color: white;
    transform: scale(1.05) translateY(-15px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

footer{
    background-color: #4A3B36;
    padding: 40px;
    text-align: center;

}

.footer-info{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

footer hr{
    border: none;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

.copyright{
    font-size: 15px;
    color: white;
}
.animar{
    opacity: 0;
    transform: translateY(50px);
    transition: 0.8s ease;
}


.mostrar{
    opacity: 1;
    transform: translateY(0);
}

.oculto{
    display: none;
}

@media (max-width: 768px){

    .equipe h2,
    .galeria h2,
    .contato h2{

        font-size:30px;
    }

    .equipe h3{
    font-size:20px;
    }

    .card-equipe{

        width:auto;
        padding: 30px;
    }

    .card-servico{
        width: auto;
        padding: 30px;
    }

    .servicos-container,
    .equipe-container{

        justify-content: center;

    }


    .card-equipe img{
        width:220px;
        height:220px;
    }

    .hero{
        height: 330px;
        background-position: center top;
    }
    
    .hero{
        height: 330px;
        background-position: center 20%;
    }

    .logo{
    height: 90px;
    }
    
    header{
    padding: 15px 20px;
    }

    .menu{
    display: none;
    }

    .fotos-camili{
    grid-template-columns: repeat(2,1fr);
    }  

    .fotos-madu img{
    width: 100%;
    max-width: 450px;
    height: auto;
    }

    .menu-aberto{
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #f8ede2;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    } 

    .menu ul{
    flex-direction: column;
    align-items: center;
    }

    #menu-toggle{
    display:block;
    }
}


#menu-toggle{
    background: none;
    border: none;   
    font-size: 30px;
    cursor: pointer;

}

.bloco-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.opcoes-whatsapp.oculto,
.opcoes-instagram.oculto{
    display: none;
}

.opcoes-whatsapp,
.opcoes-instagram{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}